/* jumbotron */

.jumbotron{
    padding: 20px 30px 30px 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    color:black;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #fff;

    }

.jumbotron a{
  color: #fff;
  padding: 10px;

}   

.jumbotron a:hover{
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.7s ease;
  border-top-left-radius:10px;
  border-bottom-right-radius: 10px; 
}
#BIM{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-stretch: semi-expanded;
    text-align: justify;
}

